/* background part */

* {
  margin: 0;
  padding: 0;
  background-color: #121212;
}
/* header part  */

.header {
  width: 100%;
  display: flex;
}

.main {
  width: 40%;
}

.main h1 {
  margin-left: 5rem;
  margin-top: 2rem;
  color: white;
}
.baba {
  width: 50%;
  margin: 2rem;
  text-align: right;
}

.baba a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-bottom: 2px solid red;
  text-decoration: none;
  padding: 1rem;
}

/* div part */

.maindiv {
  width: 100%;
  display: flex;
  margin-top: 5rem;
}

.imge {
  width: 65%;
}
.imge img {
  width: 83%;
  height: 29rem;
  margin-left: 5rem;
  margin-top: 2rem;
}

.img1 img {
  height: 36rem;
  width: 57%;
  margin-top: 4rem;
  margin-left: 2.5rem;
}

.imge img:hover {
  transform: scale(1.02);
  transition: 3s ease;
  filter: brightness(70%);
}

.heding {
  width: 35%;
  overflow: hidden;
}

.heding h1 {
  text-align: left;
  color: #c4e5f6;
  font-size: 3.7rem;
  font-family: "DM Sans", sans-serif;
  margin: 1rem;
  margin-left: 5rem;
}
.heding p {
  color: white;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: system-ui;
}

.heding h2 {
  color: white;
  margin-left: 6.2rem;
  margin-top: 3rem;
}

/* 2nd div part */

.blocks1 {
  width: 100%;
  display: flex;
}

.blocks1img {
  width: 47%;
}

.blocks1img img {
  height: 44rem;
  width: 80%;
  margin-left: 5rem;
  margin-top: 14rem;
}

.blocks1h1 {
  width: 57%;
}

.blocks1h1 h1 {
  color: #c4e5f6;
  margin-top: 14rem;
  margin-left: 7rem;
  font-size: 3.3rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}

.blocks1h1 p {
  color: white;
  font-size: 1.7rem;
  margin-left: 8rem;
  margin-top: 2rem;
  line-height: 2.3rem;
}

.blocks1h1 h3 {
  color: white;
  margin-left: 8rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.blocks1h1 ul li {
  color: white;
  margin-left: 9.3rem;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  margin-top: 1rem;
}

/* <!-- topics -->  */

.GRAPHICS {
  width: 100%;
}

.mainblock {
  display: flex;
  width: 100%;
}

.motiongwe {
  width: 100%;
}

.motiongwe p {
  color: white;
  margin-top: 10rem;
  margin-left: 31rem;
  font-family: sans-serif;
}

.motiongwe h1 {
  color: #c4e5f6;
  margin-left: 19.5rem;
  margin-top: 2rem;
  font-family: math;
  font-size: 5.25rem;
}

.blocks2 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  width: 33.3%;
  color: white;
  margin-left: 4rem;
  margin-top: 6rem;
  height: 30rem;
}

.blocks3 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  width: 33.3%;
  color: white;
  margin-left: 4rem;
  margin-top: 6rem;
  height: 30rem;
}

.blocks3 h1 {
  color: #c4e5f6;
  padding: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  margin-right: -3rem;
  margin-top: 10rem;
}
.blocks2 h1 {
  color: #c4e5f6;
  padding: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  margin-right: -3rem;
}

.blocks3 p {
  padding: 1.5rem;
}

.blocks2 p {
  padding: 1.5rem;
}

.borderright {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  margin-top: 6rem;
  margin-left: 3rem;
}

/* <!-- image video part --> */

.imagevdo {
  width: 100%;
  display: flex;
}

.imgediv {
  width: 100%;
}
.imgediv img {
  height: 32rem;
  width: 70%;
  margin-top: 10rem;
  margin-left: 11rem;
}

.rect {
  height: 15rem;
  width: 15rem;
  color: pink;
  background-color: #1c427e;
  margin-left: 53rem;
  margin-top: -13.7rem;
}

.text_videos p {
  z-index: 5;
  position: absolute;

  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  background-color: #dc493a;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.text_videos {
  width: 100%;
}

/* <!-- gallary part --> */

.gallery {
  display: flex;
  width: 100%;
}

.gallery1img {
  height: 21rem;
  width: 14rem;
  transform: scale(1.01);
  margin-top: 11rem;
  margin-left: 2.3rem;
  margin-bottom: 2.5rem;
  position: relative;
  transform: skewY(2deg);
  transition: 3s;
}

.gallery1img {
  height: 21rem;
  width: 14rem;
  transform: scale(1.01);
  margin-top: 11rem;
  margin-left: 2.3rem;
  margin-bottom: 2.5rem;
  position: relative;
  transform: skewY(2deg);
  transition: 3s;
}

.bordergallary {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 1rem;
  margin-top: -46rem;
}

.gallery1img {
  height: 21rem;
  width: 14rem;
  transform: scale(1.01);
  margin-top: 11rem;
  margin-left: 2.3rem;
  margin-bottom: 2.5rem;
  position: relative;
  transform: skewY(2deg);
  transition: 3s;
}
.gallery1 h1 {
  color: white;
  margin-top: 3rem;

  margin-left: 3.7rem;
}
.gallery1 p {
  color: #d1d1d1;
  margin-left: 1.9rem;
  margin-top: 1rem;
  padding: 2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.bordergallary {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 1rem;
  margin-top: -46rem;
}
.bordergallary1 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  margin-top: -46rem;
}
.bordergallary2 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  transition: 3s;
  margin-top: -46rem;
}
.bordergallary3 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  margin-top: -46rem;
}

.gallery {
  display: flex;
  width: 100%;
}

.gallery1 :hover {
  transform: translateY(-3rem);
}

.gallery1 {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  width: 25%;
}
.bordergallary4 {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  height: 45rem;
  margin-top: 10rem;
  margin-right: 1rem;
}

/* <!-- — WE WORK WITH THE BEST --> */

.circlework {
  width: 100%;
  display: flex;
}
/* .circle {
  top: 286rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: #1c427e;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
} */

.works {
  width: 100%;
}
.work {
  color: white;
  margin-left: 6rem;
  margin-top: 9rem;
}

.wework {
  width: 100%;
}

.par {
  color: white;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 3.7rem;
  line-height: 1.15;
  width: 100%;
  z-index: 1;
}

.author {
  width: 100%;
}

.author1 {
  color: #c4e5f6;
  font-size: 2.8rem;

  margin-top: 5rem;
  font-family: sans-serif;
  text-align: end;
  margin-right: 8rem;
}

.author1 p {
  font-size: 1rem;
  margin-top: 0.1rem;
  margin-left: 4rem;
  color: white;
}

/* showcase */

.showcas {
  width: 100%;
}

.showcase {
  letter-spacing: -0.05em;
  color: white;
  margin-left: 5.3rem;
  margin-top: 7rem;
  font-size: 1.4rem;
}

.startproject {
  letter-spacing: -0.05em;
  color: #c4e5f6;
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: unset;
  margin-left: 5rem;
  letter-spacing: 0rem;
}

.maingallary {
}

.mainimg {
  width: 100%;
}

.combine {
  display: flex;
}

.img1 {
  width: 60%;
}
.img1 img {
  height: 36rem;
  width: 83%;
  margin-top: 5rem;
  margin-left: 3.5rem;
}
.img2 {
  width: 40%;
}
.img2 img {
  margin-top: 5rem;
  margin-left: 0;
  width: 25rem;
  height: 38.2rem;
}

.spanh {
  display: flex;
  width: 60%;
}
.spanh2 {
  width: 40%;
  display: flex;
}
.span1 {
  color: #c4e5f6;
  margin-left: 41rem;
}

.span2 {
  color: #fefefe;
  margin-left: 14rem;
}

.span3 {
  color: #c4e5f6;
  margin-left: 4rem;
}

.span4 {
  color: #fefefe;
  margin-left: 21rem;
}

.maingallary1 {
  display: flex;
  margin-top: 1rem;
  width: 100%;
}

.dualphoto {
  width: 30%;
}
.dualphoto img {
  height: 18.6rem;
  width: 17rem;
  margin-left: -2.5rem;
  padding-left: 5rem;
  margin-top: 2.3rem;
}

.spanill {
  width: 30%;
}
.span5 {
  color: #c4e5f6;
  margin-left: 3rem;
  padding-left: 1.3rem;
}
.span6 {
  color: white;
  margin-left: 7rem;
}

.dualphoto1 {
  width: 40%;
}
.dualphoto1 img {
  height: 30rem;
  width: 22rem;
  margin-left: 2.5rem;
  margin-right: 3rem;
  margin-top: 5rem;
}
.span7 {
  color: #c4e5f6;
  margin-left: 5rem;
}
.span8 {
  color: white;
  margin-left: 7rem;
}
.img6 {
  width: 61%;
}
.img6 img {
  height: 32rem;
  width: 87%;
  margin-left: 2.6rem;
  margin-top: -10rem;
}
.span9 {
  color: #c4e5f6;
  margin-left: 4rem;
}
.span10 {
  color: white;
  margin-left: 31.7rem;
}

/* <!-- The hassle-free desig starts here --> */

.mainpic {
  width: 100%;
}
.mainpicimg img {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  margin-left: 24rem;
  margin-top: 13rem;
}
.mainpicimg1 h1 {
  color: #c4e5f6;
  margin-left: 33.6rem;
  margin-top: -6rem;
  font-family: sans-serif;
  font-weight: 200;
}

.mainpicimg1 p {
  color: white;
  margin-left: 34rem;
  margin-top: 0.4rem;
  font-family: sans-serif;
  font-weight: 200;
  letter-spacing: 3px;
}
.para1 {
  width: 100%;
}
.para1 p {
  margin-left: 34rem;
  margin-top: 2rem;
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  line-height: 1.5rem;
}
.para2 {
  width: 100%;
}
.para2 p {
  margin-left: 34rem;
  margin-top: 2rem;
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  line-height: 1.5rem;
}
.para2 h3 {
  margin-left: 34rem;
  margin-top: 2rem;
  color: white;
  letter-spacing: 1px;
  font-family: sans-serif;
  line-height: 1.5rem;
}

.mailinput {
  width: 66%;
  display: flex;
  margin-left: 52rem;
  margin-left: 27rem;
}

.subscribe {
  position: relative;
  left: 0rem;
  width: 10%;

  margin-top: 1.9rem;
}
.mailinput input {
  color: white;
  height: 2.9rem;

  border: 1px solid #d1d1d1;

  margin-top: 1rem;
  border-radius: 3rem 0rem 0rem 3rem;
  background-color: #d1d1d1;
  padding-left: 1rem;
  width: 17rem;
}
.mailinput ::placeholder {
  color: black;
  font-family: sans-serif;
  font-weight: 400;
}
.subscribe button {
  color: rgb(101, 101, 101);
  background-color: white;

  margin-top: -47.8px;

  font-weight: bold;
  border-radius: 0px 26px 26px 0px;
  border: none;
  width: 9rem;
  height: 47.8px;
  font-size: 1rem;
}

.motiongraphics {
  width: 100%;
}

.motiongraphics h3 {
  margin-top: 9rem;
  color: white;
  margin-left: 6rem;
}

.motiongraphics h1 {
  color: #c4e5f6;
  font-family: sans-serif;
  font-weight: 200;
  margin-left: 6rem;
  margin-top: 1rem;
  font-size: 4rem;
}

.motiongraphics p {
  margin-top: -3.8rem;
  color: white;
  margin-left: 39rem;
  font-size: 1.2rem;
  font-family: sans-serif;
}

/* <!-- *last div --> */
.imageone {
  width: 50%;
}
.imageone h2 {
  margin-left: 6.3rem;
  color: white;
  margin-top: 7rem;
  padding-bottom: 1rem;
  font-family: sans-serif;
}

.imageone img {
  height: 22rem;
  width: 29rem;
  margin-left: 6.4rem;
}

.imageone h1 {
  margin-left: 14rem;
  margin-top: -13rem;
  color: white;
  font-size: 3rem;
}

.papadiv {
  display: flex;
  width: 100%;
}

/* <!-- footer --> */

.footer11 {
  display: flex;
  width: 100%;
}

.footer11 h1 {
  color: #c4e5f6;
  font-size: 1rem;
  margin-top: 16rem;
  margin-left: 6.8rem;
  text-align: center;
}

.footer11 h2 {
  color: #c4e5f6;
  font-size: 1rem;
  margin-top: 16rem;
  margin-left: 51rem;
}

.footer1 {
  display: flex;
  margin-left: 1rem;
  width: 50%;
}

.navbar {
  margin-left: 5rem;
  margin-top: 3rem;
}

.navbar ul li {
  display: inline-block;
  position: relative;
}
.navbar ul {
  list-style: disc;
  text-transform: uppercase;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: sans-serif;
}

.babashyam span a {
  font-size: 1rem;

  color: white;
  font-family: sans-serif;
}

.babashyam {
  display: flex;
  width: 50%;
}

.babashyam h2 a {
  font-size: 1.2rem;

  color: white;
  font-family: sans-serif;
}

.span12 {
  margin-left: 52rem;
  margin-top: -1.2rem;
}

.span11 {
  margin-top: -1.2rem;
  margin-left: 2rem;
}
