* {
  margin: 0;
  padding: 0;
}
body {
  background-color: chartreuse;
  background-size: cover;
  background-image: url(C:\Users\ankit\OneDrive\Desktop/);
}

.navbar ul {
  background-color: chocolate;
  margin-left: 60px;
  color: blue;
  padding: 23px;
  display: flex;
  margin-left: -58px;
  text-decoration: none;
  margin-top: -1px;
  list-style: none;
  margin-left: 10p;
  padding-left: 33rem;
}

.navbar a {
  padding-left: 70px;
  margin-left: 20px;
  text-decoration: none;
}
