* {
  margin: 0;
  padding: 0;
  background-color: #121212;
}

.main h1 {
  margin-top: 5rem;
  margin-left: 6rem;
  font-size: 24px;
  color: white;
}

.baba {
  margin-left: 41rem;
  margin-top: -2rem;
  padding: 2px;
}

.baba a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  font-family: sans-serif;
  border-bottom: 2px solid red;
}

.imge img {
  height: 30rem;
  width: 46rem;
  margin-top: 7rem;
  margin-left: 5rem;
}
.heding h1 {
  margin-top: -25rem;
  margin-left: 55rem;
  color: #c4e5f6;
  font-size: 3.7rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 16px;
}

.heding p {
  color: white;
  margin-left: 55.5rem;
  margin-top: 1rem;
  font-family: system-ui;
}
.heding h2 {
  color: white;
  margin-left: 55.5rem;
  margin-top: 1rem;
}

.imge img:hover {
  transform: scale(1.02);
  transition: 3s ease;
  filter: brightness(70%);
}

.blockimg {
  height: 44rem;
  width: 30rem;
  margin-left: 5rem;
  margin-top: 14rem;
}

.blocks1 h1 {
  color: #c4e5f6;
  margin-top: -43rem;
  margin-left: 41rem;
  font-size: 3.3rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
}

.blocks1 p {
  color: white;
  font-size: 1.7rem;
  margin-left: 41rem;
  margin-top: 2rem;
  line-height: 2.3rem;
}
.ul li {
  color: white;
  margin-left: 43rem;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  font-weight: 100;
  margin-top: 1rem;
}
.h3 {
  color: white;
  margin-left: 41rem;
  margin-top: 2rem;
  font-size: 2rem;
}

.motiong {
  color: white;
  margin-top: 10rem;
  margin-left: 31rem;
  font-family: sans-serif;
}

.wecan {
  color: #c4e5f6;
  margin-left: 19.5rem;
  margin-top: 2rem;
  font-family: math;
  font-size: 5.25rem;
}

.blocks2 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);

  color: white;
  margin-left: 4rem;
  margin-top: 6rem;
  height: 30rem;
}

.blocks3 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);

  color: white;
  margin-left: 4rem;
  margin-top: 6rem;
  height: 30rem;
}

.blocks3 h1 {
  color: #c4e5f6;
  padding: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  margin-right: -3rem;
  margin-top: 10rem;
}
.blocks2 h1 {
  color: #c4e5f6;
  padding: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2.5rem;
  margin-right: -3rem;
}

.blocks3 p {
  padding: 1.5rem;
}

.blocks2 p {
  padding: 1.5rem;
}

.mainblock {
  display: flex;
}
.borderright {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  margin-top: 6rem;
  margin-left: 3rem;
}

.imgediv img {
  height: 32rem;
  width: 49rem;
  margin-left: 14rem;
  margin-top: 10rem;
}
.rect {
  height: 15rem;
  width: 15rem;
  color: pink;
  background-color: #1c427e;
  margin-left: 49rem;
  margin-top: -14.3rem;
}
.text_videos p {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 10%),
    0 10px 10px -5px rgb(0 0 0 / 4%);
  background-color: #dc493a;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 163rem;
}

.gallery1img {
  height: 21rem;
  width: 14rem;
  transform: scale(1.01);
  margin-top: 11rem;
  margin-left: 2.3rem;
  margin-bottom: 2.5rem;
  position: relative;
  transform: skewY(2deg);
}
.gallery1 h1 {
  color: white;
  margin-top: 3rem;

  margin-left: 3.7rem;
}
.gallery1 p {
  color: #d1d1d1;
  margin-left: 1.9rem;
  margin-top: 1rem;
  padding: 2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}
.bordergallary {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 1rem;
  margin-top: -46rem;
}
.bordergallary1 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  margin-top: -46rem;
}
.bordergallary2 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  margin-top: -46rem;
}
.bordergallary3 {
  border-left: 1px dotted rgba(255, 255, 255, 0.5);
  height: 47rem;
  margin-left: 0rem;
  margin-top: -46rem;
}

.gallery {
  display: flex;
}

.gallery1 :hover {
  transform: translateY(-3rem);
}

.gallery1 {
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.bordergallary4 {
  border-right: 1px dotted rgba(255, 255, 255, 0.5);
  height: 45rem;
  margin-top: 10rem;
  margin-right: 1rem;
}

.circle {
  top: 286rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  background-color: #1c427e;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: absolute;
}
.work {
  color: white;
  margin-left: 6rem;
  margin-top: 9rem;
}

.par {
  color: white;
  margin-left: 6rem;
  margin-top: 2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 3.7rem;
  line-height: 1.15;
  width: 83.3333333333%;
}

.author {
  color: #c4e5f6;
  font-size: 2.8rem;
  margin-left: 56rem;
  margin-top: 5rem;
  font-family: sans-serif;
}

.author p {
  font-size: 1rem;
  margin-top: 0.1rem;
  margin-left: 4rem;
  color: white;
}
.showcase {
  letter-spacing: -0.05em;
  color: white;
  margin-left: 5.3rem;
  margin-top: 7rem;
  font-size: 1.4rem;
}

.startproject {
  letter-spacing: -0.05em;
  color: #c4e5f6;
  font-family: sans-serif;
  font-size: 5rem;
  font-weight: unset;
  margin-left: 5rem;
  letter-spacing: 0rem;
}

.maingallary {
}

.img1 img {
  height: 36rem;
  width: 46rem;
  margin-top: 4rem;
  margin-left: 2.5rem;
}

.img2 img {
  margin-top: -75.2rem;
  margin-left: 51.4rem;
  width: 25rem;
  height: 38.2rem;
}

.span1 {
  color: #c4e5f6;
  margin-left: 52rem;
}

.span2 {
  color: #fefefe;
  margin-left: 14rem;
}

.span3 {
  color: #c4e5f6;
  margin-left: 4rem;
}

.span4 {
  color: #fefefe;
  margin-left: 33rem;
}

.maingallary1 {
  display: flex;
  margin-top: 1rem;
}
.dualphoto img {
  height: 18.6rem;
  width: 21rem;
  margin-left: -2.5rem;
  padding-left: 5rem;
}
.span5 {
  color: #c4e5f6;
  margin-left: 3rem;
  padding-left: 1.3rem;
}
.span6 {
  color: white;
  margin-left: 7rem;
}

.dualphoto1 img {
  height: 26.6rem;
  width: 22rem;
  margin-left: 4.5rem;
}
.span7 {
  color: #c4e5f6;
  margin-left: 5rem;
}
.span8 {
  color: white;
  margin-left: 7rem;
}

.img6 img {
  height: 32rem;
  width: 45rem;
  margin-left: 2.6rem;
  margin-top: -4rem;
}

.span9 {
  color: #c4e5f6;
  margin-left: 4rem;
}
.span10 {
  color: white;
  margin-left: 31.7rem;
}
